<form [formGroup]="ingredientsForm" (ngSubmit)="onSubmit()" class="container mt-5">
    <div class="mb-3">
    <label for="name" class="form-label">Ingredient Name</label>
    <input id="name" type="text" formControlName="name" class="mb-3">
</div>
    <div formArrayName="description">
        <label class="form-label">Descriptions</label>
      <div *ngFor="let descControl of descriptionControls; let i = index" class="mb-3">
        <input type="text" [formControlName]="i">
      </div>
      <button type="button" (click)="addDescription()"class="btn btn-secondary">Add Description</button>
    </div>
    <button type="submit" [disabled]="!ingredientsForm.valid" class="btn btn-primary mt-3">Submit</button>
  </form>

  